* {
    font-family: Comic Sans MS, sans-serif;
    text-align: center;
}

nav {
    background-color: #00838f;
    color: #b2dfdb;
    padding: 10px;
}

aside,
section {
    height: 600px;
    width: 50%;
    overflow: auto;
}

aside {
    background-color: #b2dfdb;
}

wycieczka {
    background-color: #00838f07;
    height: 150px;
    margin: 100px 10px;
    border-radius: 30px;
}

wycieczka:hover {
    background-color: #00838f01;
}

img {
    float: left;
    border-radius: 30px;
    padding: 7px;
}

li {
    display: inline-block;
    list-style: none;
}

a {
    color: #b2dfdb;
    text-decoration: none;
    margin-left: 50px;
}

a:hover {
    color: white;
    text-decoration: underline;
}
